<!--Base nav-->
<nav class="navbar navbar-dark  bg-dark  navbar-expand-lg fixed-top mb-4">
    <div class="container-lg">
        <ul class="navbar-brand navbar-nav nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Menu</a>
            </li>
        </ul>

        <div class="collapse navbar-collapse order-1 order-lg-0" id="navbar1">
            <ul class="navbar-nav nav ml-auto navbar-right">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Piano</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/dados">Dados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/tareas">Tareas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/convertidor">Convertidor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bmi">BMI Calculator</a>
                </li>
            </ul>
        </div>

        <div class="navbar-right d-flex flex-nowrap">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>
<div class="jumbotron p-2">
</div>
  <!--Base nav-->